/*----------------
    Media info
----------------*/

#mpris {
	padding: 0 12px;
	background-color: @accent-color;
}

/*------------
    Volume
------------*/

#custom-left_div.6 {
	color: @secondary-bg-color;
}
#pulseaudio {
	color: @accent-color;
	background-color: @secondary-bg-color;
}
#wireplumber {
	background-color: @secondary-bg-color;
}

/*----------------
    Brightness
----------------*/

#custom-left_div.7 {
	background-color: @secondary-bg-color;
	color: @secondary-bg-color;
}
#backlight {
	background-color: @secondary-bg-color;
}

/*-------------
    Battery
-------------*/

#custom-left_div.8 {
	background-color: @secondary-bg-color;
	color: @secondary-bg-color;
}
#battery {
	background-color: @secondary-bg-color;
}
#custom-left_inv.2 {
	color: @secondary-bg-color;
  background-color: @secondary-bg-color;
}

/*----------------
    Power menu
----------------*/

#custom-power {
	border-radius: 16px;
	padding: 0 19px 0 16px;
	color: @accent-color;
	background-color: @secondary-bg-color; 
}
#custom-power:hover {
	background-color: @secondary-bg-color;
}
