@import "colors/colors.css";
/*----------------
    Workspaces
----------------*/

#custom-left_div.1,
#custom-right_div.1 {
	color: @secondary-bg-color;
}
#workspaces {
	padding: 0 1px;
	background-color: @secondary-bg-color;
}
#workspaces button.active label,
#workspaces button.focused label {
	color: @accent-color;
}

/*------------------
    Window title
------------------*/

#window {
	margin: 0 12px;
}
