
* {
	all: initial; /* Reset GTK theme */
	color: @main-fg;
}

@import "fonts.css";
@import "modules-center.css";
@import "modules-left.css";
@import "modules-right.css";
@import "states.css";
@import "colors/colors.css";


.module {
	margin-bottom: -1px;
}

#waybar {
	background-color: @main-bg-color;
	color: @main-bg-color;
}
#waybar > box {
	margin: 4px;
 	background-color: @main-bg-color;
}

button {
	border-radius: 16px;
	min-width: 16px;
	padding: 0 10px;
}
button:hover {
	background-color: @secondary-bg-color;
	color: @secondary-bg-color;
}

tooltip {
	border: 2px solid @main-bg-color;
	border-radius: 10px;
	background-color: @main-bg-color;
}
tooltip > box {
	padding: 0 6px;
}

#clock {
	color: @accent-color;
}

#cava {
	color: @accent-color;
	padding-left: 15px;
	padding-right: 15px;
}
