* {
    main-bg-color: #1d2021;
    secondary-bg-color: #282828;
    text-main-color: #f5e2c5;
    debug: #FFFF00;
    accent-color: #7daea3;
    red: #ea6962;
    orange: #e78a4e;
    yellow: #d8a657;
    green: #a9b665;
    aqua: #89b482;
    blue: #7daea3;
    purple: #d3869b;
}
