/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #181825;
    background-alt: #1e1e2e;
    foreground:     #6c7086;
    selected:       #89b4fa;
    active:         #94e2d5;
    urgent:         #f38ba8;
}
